<<<<<<< HEAD

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
=======
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>You have received a message from <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
    
>>>>>>> ababf43ebcef098fa8bc704165302132fbc6d5dd
</html>