.job_title_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
}

.well.profile-block {
    color: #fff;
    border-color: #000000;
    h3 {
        margin-top: 0;
    }
}
.well.profile-description{
    background-color: #5cb85c
}
.well.contact-info {
   background-color: #5bc0de;

}
img {
    border-radius: 50%;
    -webkit-box-shadow: 33px 29px 78px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 33px 29px 78px -3px rgba(0,0,0,0.75);
    box-shadow: 33px 29px 78px -3px rgba(0,0,0,0.75);
}